# Arcade

## Adventures in Space

### Gameplay
In the year 2157, humanity's insatiable curiosity led you to the far reaches of space. As an elite Space Defense pilot, you patrol the dangerous Asteroid Belt between Mars and Jupiter. But something's wrong - these aren't normal asteroids. They're moving with purpose, threatening Earth's outposts.

Your mission: Defend our space territory using your advanced Nerf-based weapon system. The deeper you venture into space, the faster and more unpredictable the threats become.


## Santa vs. the Grunch

### Gameplay
Situation: The grunch has stolen all the presents from the children, but his bag broke open and they are scattered across the rooftops of the homes in Whoville. 
Santa is collecting the presents and dropping them into the chimneys of the homes.

The player is Santa and they need to collect the presents and drop them into the chimneys of the homes. The player receives one point for each present delivered. The player must jump over obstacles, from one roof to the next, and avoid the grunch who is chasing him.

### Rules
- The player must jump over obstacles, from one roof to the next, and avoid the grunch who is chasing him.
- The player must collect the presents and drop them into the chimneys of the homes.
- The player receives one point for each present delivered.
- The player must avoid the grunch who is chasing him.

### Leaderboard

